<div class="exercise-badge" data-id="{{ name }}">
  <a class="proficient-badge {{#if disabled}}disabled{{/if}}" href="{{ url }}">
    <img src="{{ badgeIcon }}" height="80" width="76">
    <div class="exercise-goal-wrapper"><img class="exercise-goal-icon" style="display: none" src="/images/flag.png"></div>
  </a>
  <div class="energy-points-badge">{{ points }}</div>
  <div class="exercise-title"><a href="{{ url }}">{{ display_name }}</a></div>
  <span class="exercise-show simple-button action-gradient" data-id="name" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>
  {{#with streakBar}}{{>streak-bar}}{{/with}}
</div>
