<div id="streak-bar-container" class="new">
  <div class="streak-bar {{#if proficient}}proficient{{/if}} {{#if suggested}}suggested{{/if}}" title="Current progress: {{progressDisplay}}">
    <div class="current-streak">
      <ul class="unit-rating" style="width: {{ maxWidth }}px">
        <li class="current-rating" style="width: {{ width }}px"></li>
        <li class="streak-icon"></li>
        {{#each milestones}}
          <li class="level-label" style="left: {{ left }}px"></li>
        {{/each}}
        <li class="current-label" style="width: {{ width }}px"></li>
      </ul>
    </div>
  </div>
</div>
